body{
    background: url(../img/fondoclima.jpg);
    background-size: cover;
    background-attachment: fixed;
    font-family: Arial;
}

#main-container{
    margin: 90px auto;
    width: 600px;
}

.text{
    text-align: center;
    font-size: 1,5rem;
    font-weight: 600;
    color: black;
    margin-bottom: 25px;
}

table{
    background-color: white;
    text-align: center;
    width: 100%;
    border-collapse: collapse;
}

th, td{
    border: solid 2px black;
    padding: 30px;
}

thead{
    background-color: #246355;
    border-bottom: solid 5px #0F362D;
    color: white;
}
tr:nth-child(even){
    background-color: #ddd;
}

tr:hover td{
    background-color: #369681;
    color: white;
}

table.meses {
    background-color: white;
    text-align: center;
    width: 35%;
    border-collapse: collapse;
    margin:0 auto;
}